
@{
    ViewData["Title"] = "UserIndex";
    Layout = "~/Views/Share/_LayoutBody.cshtml";
}


<div class="list-wall">
    <div class="layui-row" style="padding-right:15px">
        <div class="layui-col-xs6">
            <form class="layui-form">
                <div class="layui-form-item" style="margin-bottom:5px">
                    <div class="layui-input-inline" style="width:100px">
                        <select id="StrSearchType" name="query" lay-verify="required">
                            <option value=""></option>
                            <option value="0">用户姓名</option>
                            <option value="1">登录名</option>
                            <option value="2">部门</option>
                            <option value="3">手机号</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" id="StrSearch" name="title" required lay-verify="required" placeholder="查询条件" autocomplete="off" class="layui-input" style="width:200px;">
                    </div>
                    <div class="layui-input-inline" style="padding-left:10px">
                        <button type="button" authorize="yes" class="layui-btn layui-btn-xs layui-btn-normal" data-type="Search" id="Search"><i class="layui-icon ">&#xe615;</i> 查询</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-col-xs6">
            <div class="layui-btn-group" style="float:right">
                <button type="button" authorize="yes" class="layui-btn layui-btn-xs" data-type="Add" id="Add"><i class="layui-icon">&#xe61f;</i> 新增</button>
                <button type="button" authorize="yes" class="layui-btn layui-btn-xs" data-type="Edit" id="Edit"><i class="layui-icon">&#xe642;</i> 修改</button>
                <button type="button" authorize="yes" class="layui-btn layui-btn-xs" data-type="Del" id="Del"><i class="layui-icon ">&#xe640;</i> 删除</button>
                <button type="button" authorize="yes" class="layui-btn layui-btn-xs" data-type="Excel" id="Excel"><i class="layui-icon ">&#xe601;</i> 导出</button>
            </div>
        </div>
    </div>
    <div class="gridPanel">
        <table id="list1" class="table table-condensed"></table>
        <div id="pager1"></div>
    </div>
</div>
<script>$('.list-wall').authorizeButton()</script>
<script>
    var CX_StrSearchType = "";
    var CX_StrSearch = "";
    var bodyheight = 0;
      $(function () {
        bodyheight = document.body.scrollHeight;
        $("#list1").jqGrid({
            styleUI: 'Bootstrap',
            url: '@Url.Action("UserList")',
            datatype: "json",
            jsonReader: {
                repeatitems: false
            },
            colModel: [
                { label: 'id', name: 'id', index: 'id', key: true, width: 75, hidden: true},
                { label: '用户编号', name: 'UserID', index: 'UserID', width: 100, align: 'center'},
                { label: '用户姓名', name: 'UserName', index: 'UserName', width: 100, align: 'center'},
                { label: '登录名', name: 'LoginName', index: 'LoginName', width: 80, align: 'center'},
                { label: '密码', name: 'LoginPWD', index: 'LoginPWD', width: 140, align: 'center' },
                { label: '角色名称', name: 'RoleName', index: 'RoleName', width: 100, align: 'center' },
                { label: '部门名称', name: 'OfficeName', index: 'OfficeName', width: 100, align: 'center' },
                { label: '性别', name: 'Sex', index: 'Sex', width: 100, align: 'center' },
                { label: '手机', name: 'Phone', index: 'Phone', width: 100, align: 'center' },
                { label: '备注', name: 'BZ', index: 'BZ', width: 100, align: 'center' },
                { label: '状态', name: 'Status', index: 'Status', width: 100, align: 'center' },
                { label: '创建日期', name: 'CreateDate', index: 'CreateDate', width: 100, align: 'center' },
                { label: '创建人', name: 'CreateName', index: 'CreateName', width: 100, align: 'center' },
                { label: '修改日期', name: 'EditDate', index: 'EditDate', width: 100, align: 'center' },
                { label: '修改人', name: 'EditName', index: 'EditName', width: 100, align: 'center' }
                
            ],
            width: "99%",
            autowidth: true,
            height: $(window).height()-110,
            rowNum: 30,//一页显示多少条
            rowList: [10,20,30,50,100],//可供用户选择一页显示多少条
            pager: '#pager1',//表格页脚的占位符(一般是div)的id
            sortname: 'id',//初始化的时候排序的字段
            sortorder: "desc",//排序方式,可选desc,asc
            mtype: "post",//向后台请求数据的ajax的类型。可选post,get
            viewrecords: true,
            shrinkToFit: false,
            rownumbers: true,
          });

        
    });
    $(function () {
        $(window).bind('resize', function () {
            $("#list1").setGridWidth($(window).width() - 20);
            $("#list1").setGridHeight($(window).height() - 110);
        }).trigger('resize');
        layui.use('form', function () {
            var form = layui.form;
            form.render();
        });
    });

    $(function (){ 
        $.hands = {
            Add: function () {
                $.FromOpen('UserFromAdd', '新增用户', '/User/AddIndex', '600px', '400px', '1000');
            },
            Edit: function () {
                var id = $("#list1").jqGrid('getGridParam', 'selrow');//根据点击行获得点击行的id（id为jsonReader: {id: "id" },）
                var rowData = $("#list1").jqGrid("getRowData", id);//根据上面的id获得本行的所有数据
                var ids = rowData.id; //获得制定列的值 （UserID 为colModel的name）
                if (ids == null || ids == undefined) {
                    layer.msg("请选择一行", { icon: 2 });
                    return;
                }
                var url = "/User/EditIndex" + "?ids=" + ids;
                $.FromOpen('UserFromEdit', '修改用户', url, '600px', '400px', '1000');
    
            },
            Del: function () {
                var id = $("#list1").jqGrid('getGridParam', 'selrow');//根据点击行获得点击行的id（id为jsonReader: {id: "id" },）
                var rowData = $("#list1").jqGrid("getRowData", id);//根据上面的id获得本行的所有数据
                var ids = rowData.id; //获得制定列的值 （UserID 为colModel的name）
                if (ids == null || ids == undefined) {
                    layer.msg("请选择一行", { icon: 2 });
                    return;
                }
                layer.confirm('确认要删除选择的数据吗？', {
                    title: "删除用户",
                    btn: ['确定', '关闭'] //按钮
                }, function (index, layero) {
                    $.loading(true, "正在删除数据");
                    window.setTimeout(function () {
                        $.ajax({
                            url: "/User/DeleteUser/",
                            data: { ids: ids },
                            type: "post",
                            dataType: "json",
                            success: function (data) {
                                $.loading(false);
                                if (data.errorMsg) {
                                    layer.msg(data.errorMsg, { icon: 2 });
                                }
                                else {
                                    $("#list1").trigger("reloadGrid");

                                }
                            },
                            error: function () {
                                $.loading(false);

                            },
                            complete: function () {
                                $.loading(false);
                            }
                        });

                    }, 500);
                    layer.close(index);

                }, function () {
                    return true;
                });
            },
            Search: function () {
                $.loading(true, "正在查询数据");
                CX_StrSearchType = $('#StrSearchType').val();
                CX_StrSearch = $('#StrSearch').val();
                window.setTimeout(function () {
                    $("#list1").jqGrid('setGridParam', {
                        datatype: 'json',
                        postData: { 'StrSearchType': CX_StrSearchType, 'StrSearch': CX_StrSearch },
                        //page: 1
                    }).trigger("reloadGrid");

                    $.loading(false);
                }, 500);
            },
            Excel: function () {
                $.loading(true, "正在提交数据");
                window.setTimeout(function () {
                    var funFrom = document.createElement("form");
                    document.body.appendChild(funFrom);
                    funFrom.action = '/User/GetFile/';
                    funFrom.method = 'post';

                    var total = $("#list1").jqGrid('getGridParam', 'records');
                    if (parseInt(total) > 0) {
                        var newStrSearchType = document.createElement("input");
                        newStrSearchType.setAttribute("name", "StrSearchType");
                        newStrSearchType.setAttribute("type", "hidden");
                        newStrSearchType.setAttribute("value", CX_StrSearchType);

                        var newStrSearch = document.createElement("input");
                        newStrSearch.setAttribute("name", "StrSearch");
                        newStrSearch.setAttribute("type", "hidden");
                        newStrSearch.setAttribute("value", CX_StrSearch);

                        funFrom.appendChild(newStrSearchType);
                        funFrom.appendChild(newStrSearch);
                        funFrom.submit();    
                    } else {
                        top.layer.msg("空数据导出失败", { icon: 2 });
                    }

                }, 500);
                $.loading(false);
            },
            init:function() {
                $('#Add').on('click', $.hands.Add);
                $('#Edit').on('click', $.hands.Edit);
                $('#Del').on('click', $.hands.Del);
                $('#Search').on('click', $.hands.Search);
                $('#Excel').on('click', $.hands.Excel);
            }
        }
        $(function () {
            $.hands.init();
        });
    });



</script>

