
@{
    ViewData["Title"] = "AddTakeStockIndex";
    Layout = "~/Views/Share/_LayoutBody.cshtml";
}


<style>
    #bottomField {
        position: fixed;
        top: 0;
        right: 25px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 6px 6px;
        padding: 10px;
    }

        #bottomField .btn-group {
            font-size: 14px;
            margin-top: -1px;
            vertical-align: middle;
            color: #666666;
        }

    .layui-form-label {
        width: 80px;
        padding: 2px 10px 0px 0px;
    }

    .ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td {
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 20px;
    }

    .modal-content {
        position: absolute;
    }
</style>
<div class="layui-fluid">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body" style=" height:625px; margin-bottom:20px;box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);">
                    <form class="layui-form">
                        <div class="layui-form-item" style="margin-bottom:5px">
                            <label class="layui-form-label">单据日期</label>
                            <div class="layui-input-inline" style="width:140px">
                                <input type="text" name="BillDate" class="layui-input" id="BillDate">
                            </div>
                            <label class="layui-form-label">经手人</label>
                            <div class="layui-input-inline" style="width:140px">
                                <select id="YSName" name="YSName" lay-search lay-verify="required">
                                    <option value="">==请选择==</option>
                                </select>
                            </div>
                            <label class="layui-form-label">仓库</label>
                            <div class="layui-input-inline" style="width:140px">
                                <select id="StoreName" name="StoreName" lay-search lay-verify="required" lay-filter="StoreName">
                                    <option value="">==请选择==</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">                     
                            <label class="layui-form-label">备注</label>
                            <div class="layui-input-inline" style="width:140px">
                                <input type="text" id="BZ" name="BZ" class="layui-input" style="width:600px;">
                            </div>
                        </div>
                    </form>

                    <table id="list1" class="table table-condensed"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="bottomField">
    <button type="button" class="layui-btn layui-btn-sm" data-type="Empty" id="Empty"><i class="layui-icon">&#xe6b1;</i>清空</button>
    <button type="button" class="layui-btn layui-btn-sm" data-type="SaveAdd" id="SaveAdd"><i class="layui-icon">&#xe61f;</i>盘盈盘亏并新增</button>
    <button type="button" class="layui-btn layui-btn-sm" data-type="AddClose" id="AddClose"><i class="layui-icon ">&#xe608;</i>盘盈盘亏</button>
</div>
<script>
    var lastrow;  //最后修改行号先定义一个全局变量
    var lastcell; //最后修改列号先定义一个全局变量
    var layueform;
    //初始化界面
    $(function () {
        $("#list1").jqGrid({
            styleUI: 'Bootstrap',
            datatype: "local",
            jsonReader: {
                repeatitems: false
            },
            colModel: [
                { label: 'ids', name: 'ids', index: 'ids', key: true, width: 75, hidden: true },
                {
                    label: '操作', name: 'Hand', index: 'Hand', width: 100, align: 'center', formatter: function (value, grid, rows, state) {
                        var detail = ' <button onclick="AddGoods(\'' + rows.ids + '\');" class="layui-btn layui-btn-xs" lay-event="AddsGoods">新增</button> <button onclick="DelRow(\'' + rows.ids + '\');" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="DelRows">删除</button>';
                        return detail;
                    }
                },
                { label: '库存行id', name: 'StoreRow', index: 'StoreRow', width: 100, align: 'center', hidden: true},
                { label: '商品id', name: 'Good_id', index: 'Good_id', width: 100, align: 'center', hidden: true},
                { label: '商品编号', name: 'GoodID', index: 'GoodID', width: 100, align: 'center'},
                { label: '*商品名称', name: 'GoodName', index: 'GoodName', width: 140, align: 'center' },
                { label: '单位', name: 'DW', index: 'DW', width: 80, align: 'center' },
                { label: '规格', name: 'GGType', index: 'GGType', width: 100, align: 'center' },
                { label: '单价', name: 'Price', index: 'Price', width: 100, align: 'center', },
                {
                    label: '*盘点数量', name: 'TakeNum', index: 'TakeNum', width: 100, align: 'center', editable: true,
                    editrules: {
                        edithidden: true, number: true, minValue: 0
                    }

                },
                { label: '库存数量', name: 'StockNum', index: 'StockNum', width: 100, align: 'center' },
                { label: '盈亏数量', name: 'HowNum', index: 'HowNum', width: 100, align: 'center' },
                { label: '生产批号', name: 'SCPH', index: 'SCPH', width: 100, align: 'center' },
                { label: '灭菌批号', name: 'MJPH', index: 'MJPH', width: 100, align: 'center'},
                { label: '生产日期', name: 'scDate', index: 'scDate', width: 100, align: 'center', },
                {label: '有效期至', name: 'yxqDate', index: 'yxqDate', width: 100, align: 'center',},
                { label: '型号', name: 'ModelType', index: 'ModelType', width: 100, align: 'center' },
                { label: '生产厂家', name: 'SCCJ', index: 'SCCJ', width: 100, align: 'center' },
                { label: '备注', name: 'BZ', index: 'BZ', width: 140, align: 'center', editable: true, },

            ],
            width: "100%",
            autowidth: true,
            height: 500,
            sortname: 'ID',//初始化的时候排序的字段
            sortorder: "desc",//排序方式,可选desc,asc
            //mtype: "post",//向后台请求数据的ajax的类型。可选post,get
            viewrecords: true,
            shrinkToFit: false,
            rownumbers: true,
            cellEdit: true,
            cellsubmit: 'clientArray',
            beforeEditCell: function (rowid, cellname, v, iRow, iCol) {
                lastrow = iRow;  //给全局变量赋值
                lastcell = iCol;
            }

        });
        //填充100行空行
        for (var i = 1; i <= 100; i++) {
            var item = {
                "ids": i,
                "Good_id": '',
                "GoodID": '',
                "GoodName": '',
                "DW": '',
                "GGType": '',
                "ModelType": '',
                "SCCJ": '',
                "Price": '',
                "TakeNum": '',
                "StockNum": '',
                "HowNum": '',
                "BZ": ''
            };
            $("#list1").jqGrid("addRowData", i, item, "last");
        }
        layui.use(['table', 'form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate
                , table = layui.table;

            var strdate = new Date().Format("yyyy-MM-dd");
            //销售员
            $("#YSName").bindSelect({
                url: "/TakeStock/GetUser",
                id: "id",
                text: "UserName"
            });
            //仓库
            $("#StoreName").bindSelect({
                url: "/TakeStock/GetStoreInfo",
                id: "id",
                text: "StoreName"
            });
            //初始化

                var strdate = new Date().Format("yyyy-MM-dd");
                laydate.render({
                    elem: '#BillDate',//制定元素
                    type: 'date',
                    show: false,//默认显示
                    position: 'fixed',
                    value: strdate,
                    isInitValue: true, //是否允许填充初始值，默认为 true

                });
        
         
           
            form.on('select(StoreName)', function (data) {
                for (var i = 1; i <= 100; i++) {
                    DelRow(i);
                }
               
            });
            layueform = form;
            form.render();

        });

    });
    //选择商品弹出框
    function AddGoods(ids) {
        var StroeInfo_id = $('#StoreName').val();
        if (StroeInfo_id == "" || StroeInfo_id == undefined || StroeInfo_id == null) {
            layer.msg("请选择仓库", { icon: 2 });
            return false;
        }
        var url = "/TakeStock/AddRowIndex" + "?ids=" + ids +"&StroeInfo_id=" + StroeInfo_id;
        $.FromOpen('TakeStockFromAddRow', '选择商品库存信息', url, '600px', '500px', '1000');
    };

    //新增一行商品库存
    function GoodsAddRows(ids, item) {

        var datas = $("#list1").jqGrid("getRowData");
        var flag = true;
        $.each(datas, function (i) {
            var row = datas[i];
            if (row.StoreRow == item.id) {
                layer.msg(item.GoodName + ' 选择库存商品重复', { icon: 2 });
                flag = false;
                return;
            }
        });
        if (flag == false) {
            return;
        }
        $("#list1").jqGrid('setCell', ids, 'StoreRow', item.id);
        $("#list1").jqGrid('setCell', ids, 'Good_id', item.Good_id);
        $("#list1").jqGrid('setCell', ids, 'GoodID', item.GoodID);
        $("#list1").jqGrid('setCell', ids, 'GoodName', item.GoodName);
        $("#list1").jqGrid('setCell', ids, 'DW', item.DW);
        $("#list1").jqGrid('setCell', ids, 'GGType', item.GGType);
        $("#list1").jqGrid('setCell', ids, 'ModelType', item.ModelType);
        $("#list1").jqGrid('setCell', ids, 'SCCJ', item.SCCJ);
        $("#list1").jqGrid('setCell', ids, 'Price', item.Price);
        $("#list1").jqGrid('setCell', ids, 'TakeNum', item.Num);
        $("#list1").jqGrid('setCell', ids, 'StockNum', item.Num);
        $("#list1").jqGrid('setCell', ids, 'HowNum', 0);
        $("#list1").jqGrid('setCell', ids, 'SCPH', item.SCPH);
        $("#list1").jqGrid('setCell', ids, 'MJPH', item.MJPH);
        $("#list1").jqGrid('setCell', ids, 'scDate', item.scDate);
        $("#list1").jqGrid('setCell', ids, 'yxqDate', item.yxqDate);
        $("#list1").jqGrid('setCell', ids, 'BZ', item.BZ);
     
    };
   
    //删除一行商品信息
    function DelRow(ids) {
        $("#list1").jqGrid('setCell', ids, 'StoreRow', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'Good_id', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'GoodID', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'GoodName', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'DW', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'GGType', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'ModelType', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'SCCJ', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'Price', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'SCPH', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'MJPH', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'scDate', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'yxqDate', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'TakeNum', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'StockNum', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'HowNum', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'Sum', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'BZ', "&nbsp");
    };

    $(function () {
        $.hands = {
            //清空
            Empty: function () {
                for (var i = 1; i <= 100; i++) {
                    DelRow(i);
                }
                $("#YSName").val('');
                $("#StoreName").val('');
                layueform.render('select');
            },
            //保存并新增
            SaveAdd: function () {
                var flag = $.hands.Add();
                if (flag) {
                    var rowdata = [];
                    for (var i = 1; i <= 100; i++) {
                        DelRow(i);
                    }
                };

            },
            //保存并关闭
            AddClose: function () {
                var flag = $.hands.Add();
                if (flag) {
                    top.$("#LAY_app_tabsheader").children(".layui-this").children(".layui-tab-close").trigger("click");
                };

            },         
            //保存
            Add: function () {
                $('#list1').jqGrid("saveCell", lastrow, lastcell);
                //选择日期判断
                var BillDate = $('#BillDate').val();
                if (BillDate == "" || BillDate == undefined || BillDate == null) {
                    layer.msg("请选择日期", { icon: 2 });
                    return false;
                }
                //选择销售员判断
                var YSNameID = $('#YSName').val();
                if (YSNameID == "" || YSNameID == undefined || YSNameID == null) {
                    layer.msg("请选择经手人", { icon: 2 });
                    return false;
                }
                var YSName = $("#YSName option:selected").text();
                //选择销售员判断
                var StroeInfo_id = $('#StoreName').val();
                if (StroeInfo_id == "" || StroeInfo_id == undefined || StroeInfo_id == null) {
                    layer.msg("请选择仓库", { icon: 2 });
                    return false;
                }
                var StoreName = $("#StoreName option:selected").text();



                var BZ = $('#BZ').val();
                //明细数据
                var AddData = [];
                var datas = $("#list1").jqGrid("getRowData");
                //判断明细是否是否正确
                var dataFlag = true;
                $.each(datas, function (i) {
                    var row = datas[i];
                    if (row.GoodName != "" && row.GoodName != undefined && row.GoodName != null) {
                        var rowsum = 0;
                        //判断判断数量是否为空或者不小于0
                        var datanum = Number(row.StockNum);
                        if (isNaN(datanum)) {
                            dataFlag = false;
                            return false;
                        }
                        if (datanum < 0) {
                            dataFlag = false;
                            return false;
                        }
                       
                        AddData.push(row);
                    }

                });
                if (dataFlag == false) {
                    layer.msg("请输入正确数量", { icon: 2 });
                    return false;

                }


                if (AddData.length > 0) {
                    var Bill = {
                        "BillDate": BillDate,
                        "StroeInfo_id": StroeInfo_id,
                        "StoreName": StoreName,
                        "YSNameID": YSNameID,
                        "YSName": YSName,
                        "BZ": BZ
                    };
                    var flag = false;

                    layer.confirm('确认盘点库存将自动生成报损报溢单？', {
                        title: "盘点库存",
                        btn: ['确定', '关闭'] //按钮
                    }, function (index, layero) {
                        $.loading(true, "正在盘点库存");
                        $.ajax({
                            url: "/TakeStock/SaveBill",
                            data: { Bills: Bill, Bills_MX: AddData },
                            dataType: "json",
                            type: "post",
                            async: false,
                            success: function (data) {
                                $.loading(false);
                                if (data.errorMsg) {
                                    flag = false;
                                    top.layer.msg(data.errorMsg, { icon: 2 });

                                }
                                else {
                                    var msgs = (data.okMsg);
                                    flag = true;
                                    top.layer.msg(msgs, { icon: 1 });

                                }
                            },
                            error: function () {
                                $.loading(false);


                            },
                            complete: function () {
                                $.loading(false);

                            }
                        });
                        layer.close(index);

                        }, function () {
                            flag = false;
                           return true;
                    });

                    return flag;
                      
                   
                   
                }
                else {
                    layer.msg("请输入商品信息", { icon: 2 });
                    return false;
                }

            },

            init: function () {
                $('#Empty').on('click', $.hands.Empty);
                $('#SaveAdd').on('click', $.hands.SaveAdd);
                $('#AddClose').on('click', $.hands.AddClose);
            }
        }
        $(function () {
            $.hands.init();
        });
    });

    //计算单价 数量 金额
    $(document).on('keyup', '#list1>tbody>tr>td>input[type="text"]', function () {
        var _inputName = $(this).attr('name');

        if (_inputName == "TakeNum") {
            var id = $("#list1").jqGrid('getGridParam', 'selrow');//根据点击行获得点击行的id（id为jsonReader: {id: "id" },）
            var rowData = $("#list1").jqGrid("getRowData", id);
            var _takenum = Number($(this).val());
            if (isNaN(_takenum)) {
                _takenum = 0;
            }
            var _stocknum = Number(rowData.StockNum);
            var _hownum = _takenum - _stocknum;
            $("#list1").jqGrid('setCell', id, 'HowNum', _hownum);
        } 
    });

</script>
<style>
    .form-control {
        height: 20px;
        text-align: center;
        display: table-cell;
        vertical-align: middle
    }
</style>









