
@{
    ViewData["Title"] = "EditIndex";
    Layout = "~/Views/Share/_Layoutiframe.cshtml";
}


<script>
    var keyValue = $.request("ids");
    $(function () {
        if (!!keyValue) {
            $.ajax({
                url: "/Role/GetFormList",
                data: { ids: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
    function submitForm() {
        $("#form1").validate({
            rules: {
                RoleName: "required",
                RoleType: "required",
            }
        });
        if ($('#form1').valid()) {
            $.loading(true, "正在提交数据");
            window.setTimeout(function () {
                $.ajax({
                    url: "/Role/EditRole/",
                    data: $('#form1').serialize(),
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        $.loading(false);

                        if (data.errorMsg) {
                            top.layer.msg(data.errorMsg, { icon: 2 });
                        }
                        else {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            $.currentWindow().$("#list1").trigger("reloadGrid");
                            var msgs = (data.okMsg);
                            top.layer.msg(msgs, { icon: 1 });
                            parent.layer.close(index);
                        }

                    },
                    error: function () {
                        $.loading(false);

                    },
                    complete: function () {
                        $.loading(false);
                    }
                });

            }, 500);
        }
    }

</script>
<div style="margin-right:30px;padding-top:10px;">
    <form id="form1" class="form-horizontal">
        <div style="position:absolute;padding-right:10px;">
            <table class="form">
                <tr style="display:none;">
                    <th class="formTitle">角色编号</th>
                    <td class="formValue">
                        <input id="RoleID" name="RoleID" type="text" class="form-control input-sm" placeholder="请输入角色名称" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">角色名称</th>
                    <td class="formValue">
                        <input id="RoleName" name="RoleName" type="text" class="form-control input-sm" placeholder="请输入角色名称" readonly="true" />
                    </td>
                    <th class="formTitle">角色类型</th>
                    <td class="formValue">
                        <select id="RoleType" name="RoleType" class="form-control input-sm ">
                            <option value="">==请选择==</option>
                            <option value="系统管理">系统管理</option>
                            <option value="业务管理">业务管理</option>
                            <option value="其他">其他</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">备注</th>
                    <td class="formValue" colspan="3">
                        <textarea id="BZ" name="BZ" class="form-control input-sm" style="height: 60px;"></textarea>
                    </td>

                </tr>
                <tr>
                    <th class="formTitle">创建日期</th>
                    <td class="formValue">
                        <input id="CreateDate" name="CreateDate" type="text" class="form-control input-sm" readonly="true" />
                    </td>
                    <th class="formTitle">创建人</th>
                    <td class="formValue">
                        <input id="CreateName" name="CreateName" type="text" class="form-control input-sm" readonly="true" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">修改日期</th>
                    <td class="formValue">
                        <input id="EditDate" name="EditDate" type="text" class="form-control input-sm" readonly="true" />
                    </td>
                    <th class="formTitle">修改人</th>
                    <td class="formValue">
                        <input id="EditName" name="EditName" type="text" class="form-control input-sm" readonly="true" />
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>

