
@{
    ViewData["Title"] = "AddEditOrderIndex";
    Layout = "~/Views/Share/_LayoutBody.cshtml";
}

<style>
    #bottomField {
        position: fixed;
        top: 0;
        right: 25px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 6px 6px;
        padding: 10px;
    }
    #bottomField .btn-group {
            font-size: 14px;
            margin-top: -1px;
            vertical-align: middle;
            color: #666666;
        }
    .layui-form-label {
        width: 80px;
        padding: 2px 10px 0px 0px;
    }
    .ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td {
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 20px;
    }
    .modal-content {
        position: absolute;
    }
</style>
<div class="layui-fluid">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body" style=" height:500px; margin-bottom:20px;box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);">
                    <form class="layui-form">
                        <div class="layui-form-item" style="margin-bottom:5px">
                            <label class="layui-form-label">单据日期</label>
                            <div class="layui-input-inline" style="width:140px">
                                <input type="text" name="BillDate" class="layui-input" id="BillDate">
                            </div>
                            <label class="layui-form-label">验收员</label>
                            <div class="layui-input-inline" style="width:140px">
                                <select id="YSName" name="YSName" lay-search lay-verify="required">
                                    <option value="">==请选择==</option>
                                </select>
                            </div>
                            <label class="layui-form-label">仓库</label>
                            <div class="layui-input-inline" style="width:140px">
                                <select id="StoreName" name="StoreName" lay-search lay-verify="required">
                                    <option value="">==请选择==</option>
                                </select>
                            </div>
                           

                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-inline" style="display:none">
                                <input type="text" id="Sup_id" name="Sup_id" class="layui-input">
                            </div>
                            <label class="layui-form-label">供应商</label>
                            <div class="layui-input-inline" style="width:140px">
                                <input type="text" id="SupName" name="SupName" class="layui-input" style="width:140px;" readonly="true">
                            </div>
                            <label class="layui-form-label">总金额</label>
                            <div class="layui-input-inline" style="width:140px">
                                <input type="text" name="Sum" class="layui-input" id="Sum" readonly="true">
                            </div>
                            <div class="layui-input-inline" style="display:none">
                                <input type="text" id="OrderBill_id" name="OrderBill_id" class="layui-input" style="width:140px;">
                            </div>

                            <label class="layui-form-label">关联订单号</label>
                            <div class="layui-input-inline" style="width:140px">
                                <input type="text" id="OrderBillID" name="OrderBillID" required lay-verify="required" class="layui-input" style="width:140px;" readonly="true">
                            </div>
                            <label class="layui-form-label">备注</label>
                            <div class="layui-input-inline" style="width:140px">
                                <input type="text" id="BZ" name="BZ" class="layui-input" style="width:200px;">
                            </div>
                        </div>
                    </form>

                    <table id="list1" class="table table-condensed"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="bottomField">
    <button type="button" authorize="yes" class="layui-btn layui-btn-sm" data-type="ChooseOrder" id="ChooseOrder"><i class="layui-icon">&#xe65c;</i>选择订单</button>
    <button type="button" authorize="yes" class="layui-btn layui-btn-sm" data-type="Empty" id="Empty"><i class="layui-icon">&#xe6b1;</i>清空</button>
    <button type="button" authorize="yes" class="layui-btn layui-btn-sm" data-type="SaveAdd" id="SaveAdd"><i class="layui-icon">&#xe61f;</i>保存并新增</button>
    <button type="button" authorize="yes" class="layui-btn layui-btn-sm" data-type="AddClose" id="AddClose"><i class="layui-icon ">&#xe608;</i>保存</button>
    <button type="button" authorize="yes" class="layui-btn layui-btn-sm" data-type="AddSH" id="AddSH"><i class="layui-icon ">&#xe672;</i>保存并审核</button>
</div>
<script>
    var keyValuetypes = $.request("types");//判断是新增或修改
    var keyValueids = $.request("ids");//修改的单据号
    var lastrow;  //最后修改行号先定义一个全局变量
    var lastcell; //最后修改列号先定义一个全局变量
    var layueform;
    //初始化界面  
    $(function () {
        var bodyheight = document.body.scrollHeight;
        $(".layui-card-body").css("height", bodyheight - 55);

        $("#list1").jqGrid({
            styleUI: 'Bootstrap',
            datatype: "local",
            jsonReader: {
                repeatitems: false
            },
            colModel: [
                { label: 'ids', name: 'ids', index: 'ids', key: true, width: 75, hidden: true },
                {
                    label: '操作', name: 'Hand', index: 'Hand', width: 60, align: 'center', formatter: function (value, grid, rows, state) {
                        var detail = '<button onclick="DelRow(\'' + rows.ids + '\');" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="DelInvoice">删除</button>';
                        return detail;
                    }
                },
                { label: '主键id', name: 'id', index: 'id', width: 100, align: 'center', hidden: true },
                { label: '订单行id', name: 'OrderRow', index: 'OrderRow', width: 100, align: 'center', hidden: true},
                { label: '商品id', name: 'Good_id', index: 'Good_id', width: 100, align: 'center', hidden: true },
                { label: '商品编号', name: 'GoodID', index: 'GoodID', width: 100, align: 'center', hidden: true },
                { label: '*商品名称', name: 'GoodName', index: 'GoodName', width: 140, align: 'center' },
                { label: '单位', name: 'DW', index: 'DW', width: 80, align: 'center' },
                { label: '规格', name: 'GGType', index: 'GGType', width: 100, align: 'center' },          
                { label: '生产批号', name: 'SCPH', index: 'SCPH', width: 100, align: 'center', editable: true },
                { label: '灭菌批号', name: 'MJPH', index: 'MJPH', width: 100, align: 'center', editable: true },
                {
                    label: '生产日期', name: 'scDate', index: 'scDate', width: 100, align: 'center', editable: true,
                    editrules: {
                        date: true
                    },
                    datefmt: "yyyy-MM-dd"
                },
                {
                    label: '有效期至', name: 'yxqDate', index: 'yxqDate', width: 100, align: 'center', editable: true,
                    editrules: {
                        date: true
                    },
                    datefmt: "yyyy-MM-dd"
                },         
                {
                    label: '*数量', name: 'Num', index: 'Num', width: 100, align: 'center', editable: true,
                    editrules: {
                        edithidden: true, number: true, minValue: 0
                    }

                },
                {
                    label: '*单价', name: 'Price', index: 'Price', width: 100, align: 'center', editable: true,
                    editrules: {
                        edithidden: true, number: true, minValue: 0
                    }
                },
                { label: '金额', name: 'Sum', index: 'Sum', width: 100, align: 'center' },
                { label: '型号', name: 'ModelType', index: 'ModelType', width: 100, align: 'center' },   
                { label: '生产厂家', name: 'SCCJ', index: 'SCCJ', width: 100, align: 'center' },
                { label: '备注', name: 'BZ', index: 'BZ', width: 140, align: 'center', editable: true },
                
            ],
            width: "100%",
            autowidth: true,
            height: bodyheight-180,
            sortname: 'ID',//初始化的时候排序的字段
            sortorder: "desc",//排序方式,可选desc,asc
            //mtype: "post",//向后台请求数据的ajax的类型。可选post,get
            viewrecords: true,
            shrinkToFit: false,
            rownumbers: true,
            cellEdit: true,
            cellsubmit: 'clientArray',
            beforeEditCell: function (rowid, cellname, v, iRow, iCol) {
                lastrow = iRow;  //给全局变量赋值
                lastcell = iCol;
            }

        });
        //填充100行空行
        for (var i = 1; i <= 100; i++) {
            var item = {
                "ids": i,
                "OrderRow":'',
                "Good_id": '',
                "GoodID": '',
                "GoodName": '',
                "DW": '',
                "GGType": '',
                "ModelType": '',
                "SCCJ": '',
                "Price": '',
                "Num": '',
                "Sum": '',
                "BZ": ''
            };
            $("#list1").jqGrid("addRowData", i, item, "last");
        }
        layui.use(['table', 'form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate
                , table = layui.table;

            var strdate = new Date().Format("yyyy-MM-dd");
            //采购员
            $("#YSName").bindSelect({
                url: "/OrderBill/GetUser",
                id: "id",
                text: "UserName"
            });
            //采购员
            $("#StoreName").bindSelect({
                url: "/InStore/GetStoreInfo",
                id: "id",
                text: "StoreName"
            });
            //新增初始化
            if (keyValuetypes == "add") {
                var strdate = new Date().Format("yyyy-MM-dd");
                laydate.render({
                    elem: '#BillDate',//制定元素
                    type: 'date',
                    show: false,//默认显示
                    position: 'fixed',
                    value: strdate,
                    isInitValue: true, //是否允许填充初始值，默认为 true

                });
            }
            //修改初始化
            else if (keyValuetypes == "edit") {
                if (!!keyValueids) {
                    $.ajax({
                        url: "/InStore/GetBillList",
                        data: { ids: keyValueids },
                        dataType: "json",
                        async: false,
                        success: function (datas) {
                            var instorebill = datas.bills;
                            var instorebill_mx = datas.bills.inStoreBill_MX;
                            $("#YSName").val(instorebill.ysNameID);
                            $("#Sup_id").val(instorebill.sup_id);
                            $("#SupName").val(instorebill.supName);
                            var BillDates = instorebill.billDate.toString().substring(0, 10);
                            $("#BillDate").val(BillDates);
                            $("#StoreName").val(instorebill.stroeInfo_id);
                            $("#Sum").val(instorebill.sum);
                            $("#OrderBill_id").val(instorebill.orderBill_id);
                            $("#OrderBillID").val(instorebill.orderBillID);
                            $("#BZ").val(instorebill.bz);
                            $.each(instorebill_mx, function (i) {
                                var scdates = "";
                                var yxqDate = "";
                                if (instorebill_mx[i].scDate != null && instorebill_mx[i].scDate !=undefined) {
                                    scdates = instorebill_mx[i].scDate.toString().substring(0, 10);
                                }
                                if (instorebill_mx[i].yxqDate != null && instorebill_mx[i].yxqDate != undefined) {
                                    yxqDate = instorebill_mx[i].yxqDate.toString().substring(0, 10);
                                }                          
                                var item = {
                                    "id": instorebill_mx[i].id,
                                    "OrderRow": instorebill_mx[i].orderRow,
                                    "Good_id": instorebill_mx[i].good_id,
                                    "GoodID": instorebill_mx[i].goodID,
                                    "GoodName": instorebill_mx[i].goodName,
                                    "DW": instorebill_mx[i].dw,
                                    "GGType": instorebill_mx[i].ggType,
                                    "ModelType": instorebill_mx[i].modelType,
                                    "SCCJ": instorebill_mx[i].sccj,
                                    "Price": instorebill_mx[i].price,
                                    "Num": instorebill_mx[i].num,
                                    "Sum": instorebill_mx[i].sum,
                                    "SCPH": instorebill_mx[i].scph,
                                    "MJPH": instorebill_mx[i].mjph,
                                    "scDate": scdates,
                                    "yxqDate": yxqDate,
                                    "BZ": instorebill_mx[i].bz,
                                };
                                AddRows(i + 1, item);

                            });


                        }
                    });
                    $('#ChooseOrder').hide();
                    $('#Empty').hide();
                    $('#SaveAdd').hide();
                }
                laydate.render({
                    elem: '#BillDate',//制定元素
                    type: 'date',
                    show: false,//默认显示
                    position: 'fixed',
                    //value: strdate,
                    //isInitValue: true, //是否允许填充初始值，默认为 true

                });
                
            }
                   
            layueform = form;
            form.render();

        });

    });
    //加载明细表方法之一
    function EditAddRow(ids, item) {
        $("#list1").jqGrid('setCell', ids, 'OrderRow', item.OrderRow);
        $("#list1").jqGrid('setCell', ids, 'Good_id', item.Good_id);
        $("#list1").jqGrid('setCell', ids, 'GoodID', item.GoodID);
        $("#list1").jqGrid('setCell', ids, 'GoodName', item.GoodName);
        $("#list1").jqGrid('setCell', ids, 'DW', item.DW);
        $("#list1").jqGrid('setCell', ids, 'GGType', item.GGType);
        $("#list1").jqGrid('setCell', ids, 'ModelType', item.ModelType);
        $("#list1").jqGrid('setCell', ids, 'SCCJ', item.SCCJ);
        $("#list1").jqGrid('setCell', ids, 'Price', item.Price);
        $("#list1").jqGrid('setCell', ids, 'Num', item.Num);
        $("#list1").jqGrid('setCell', ids, 'Sum', item.Sum);

    };
    //加载入库单
    function AddRows(ids, item) {
        $("#list1").jqGrid('setCell', ids, 'id', item.id);
        $("#list1").jqGrid('setCell', ids, 'OrderRow', item.OrderRow);
        $("#list1").jqGrid('setCell', ids, 'Good_id', item.Good_id);
        $("#list1").jqGrid('setCell', ids, 'GoodID', item.GoodID);
        $("#list1").jqGrid('setCell', ids, 'GoodName', item.GoodName);
        $("#list1").jqGrid('setCell', ids, 'DW', item.DW);
        $("#list1").jqGrid('setCell', ids, 'GGType', item.GGType);
        $("#list1").jqGrid('setCell', ids, 'ModelType', item.ModelType);
        $("#list1").jqGrid('setCell', ids, 'SCCJ', item.SCCJ);
        $("#list1").jqGrid('setCell', ids, 'Price', item.Price);
        $("#list1").jqGrid('setCell', ids, 'Num', item.Num);
        $("#list1").jqGrid('setCell', ids, 'Sum', item.Sum);
        $("#list1").jqGrid('setCell', ids, 'SCPH', item.SCPH);
        $("#list1").jqGrid('setCell', ids, 'MJPH', item.MJPH);
        $("#list1").jqGrid('setCell', ids, 'scDate', item.scDate);
        $("#list1").jqGrid('setCell', ids, 'yxqDate', item.yxqDate);
        $("#list1").jqGrid('setCell', ids, 'BZ', item.BZ);
    };
    //删除一行商品信息
    function DelRow(ids) {
        $("#list1").jqGrid('setCell', ids, 'OrderRow', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'Good_id', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'GoodID', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'GoodName', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'DW', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'GGType', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'ModelType', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'SCCJ', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'Price', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'SCPH', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'MJPH', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'scDate', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'yxqDate', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'Num', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'Sum', "&nbsp");
        $("#list1").jqGrid('setCell', ids, 'BZ', "&nbsp");
    };
    //读取采购订单信息
    function ChooseOrderBill(ids) {
        $.ajax({
            url: "/InStore/GetOrder"+"?ids="+ids,
            data: $('#form1').serialize(),
            type: "post",
            dataType: "json",
            success: function (datas) {
                var sumMoney = 0;
                var orderbill = datas.bills;
                var orderbill_mx = datas.bills.orderBill_MX;
                $("#Sup_id").val(orderbill.sup_id);
                $("#SupName").val(orderbill.supName);
                $("#OrderBill_id").val(orderbill.id);
                $("#OrderBillID").val(orderbill.billID);
                $.each(orderbill_mx, function (i) {
                    //总数量
                    var SumNum = parseInt(orderbill_mx[i].num);
                    //已完成数量
                    var EndNum = parseInt(orderbill_mx[i].endNum);
                    //单价
                    var Price = parseFloat(orderbill_mx[i].price);
                    //剩余数量
                    //var Nums = SumNum - EndNum;
                    var Nums = $.SubNum(SumNum, EndNum);
                    if (Nums == 0) {
                        return true;
                    }
                    //金额
                    //var sum = (Math.round(Price * 100) * Nums) / 100;
                    var sum = $.MulNum(Price, Nums);
                    //总金额
                    //sumMoney = sumMoney + sum;
                    sumMoney = $.SumNum(sumMoney, sum);
                    var item = {
                        "OrderRow": orderbill_mx[i].id,
                        "Good_id": orderbill_mx[i].good_id,
                        "GoodID": orderbill_mx[i].goodID,
                        "GoodName": orderbill_mx[i].goodName,
                        "DW": orderbill_mx[i].dw,
                        "GGType": orderbill_mx[i].ggType,
                        "ModelType": orderbill_mx[i].modelType,
                        "SCCJ": orderbill_mx[i].sccj,
                        "Price": orderbill_mx[i].price,
                        "Num": Nums,
                        "Sum": sum,
                    };
                    EditAddRow(i + 1, item);

                });

                $("#Sum").val(sumMoney);
            },
            error: function () {
                

            },
            complete: function () {
              
            }
        });

    };
    $(function () {
        $.hands = {
            //选择采购订单
            ChooseOrder: function () {
                $.hands.Empty();
                var url = "/InStore/ChooseOrderIndex";
                $.FromOpen('InStoreFromChooseOrder', '选择采购订单', url, '680px', '570px', '1000');
            },
            //清空
            Empty: function () {
                for (var i = 1; i <= 100; i++) {
                    DelRow(i);
                } 
                $("#Sup_id").val('');
                $("#SupName").val('');
                $("#OrderBill_id").val('');
                $("#OrderBillID").val('');
                $("#Sum").val('');
                $("#YSName").val('');
                $("#StoreName").val('');
                layueform.render('select');
            },
            //保存并新增
            SaveAdd: function () {
                var shs = "no";
                var flag = $.hands.Add(keyValuetypes, shs);
                if (flag) {
                    var rowdata = [];
                    for (var i = 1; i <= 100; i++) {
                        DelRow(i);
                    }
                };

            },
            //保存并关闭
            AddClose: function () {
                var shs = "no";
                var flag = $.hands.Add(keyValuetypes, shs);
                if (flag) {
                    top.$("#LAY_app_tabsheader").children(".layui-this").children(".layui-tab-close").trigger("click");
                };

            },
            //保存并审核
            AddSH: function () {
                var shs = "yes";
                var flag = $.hands.Add(keyValuetypes,shs);
                if (flag) {
                    top.$("#LAY_app_tabsheader").children(".layui-this").children(".layui-tab-close").trigger("click");
                };

            },
            //保存
            Add: function (BillType,SHType) {
                $('#list1').jqGrid("saveCell", lastrow, lastcell);
                //选择日期判断
                var BillDate = $('#BillDate').val();
                if (BillDate == "" || BillDate == undefined || BillDate == null) {
                    layer.msg("请选择日期", { icon: 2 });
                    return false;
                }
                //选择采购员判断
                var YSNameID = $('#YSName').val();
                if (YSNameID == "" || YSNameID == undefined || YSNameID == null) {
                    layer.msg("请选择验收员", { icon: 2 });
                    return false;
                }
                var YSName = $("#YSName option:selected").text();
                //选择采购员判断
                var StroeInfo_id = $('#StoreName').val();
                if (StroeInfo_id == "" || StroeInfo_id == undefined || StroeInfo_id == null) {
                    layer.msg("请选择仓库", { icon: 2 });
                    return false;
                }
                var StoreName = $("#StoreName option:selected").text();
                //选择供应商判断
                var Sup_id = $('#Sup_id').val();
                if (Sup_id == "" || Sup_id == undefined || Sup_id == null) {
                    layer.msg("请选择供应商", { icon: 2 });
                    return false;
                }
                var SupName = $("#SupName").val();
                var OrderBill_id = $('#OrderBill_id').val();
                if (OrderBill_id == "" || OrderBill_id == undefined || OrderBill_id == null) {
                    layer.msg("请选择订单号", { icon: 2 });
                    return false;
                }
                var OrderBillID = $('#OrderBillID').val();
                var BZ = $('#BZ').val();
                //明细数据
                var AddData = [];
                var datas = $("#list1").jqGrid("getRowData");
                //判断明细是否是否正确
                var dataFlag = true;
               // 求和
                var sums = 0;
                $.each(datas, function (i) {
                    var row = datas[i];
                    if (row.GoodName != "" && row.GoodName != undefined && row.GoodName != null) {
                        var rowsum = 0;
                        //判断单价数量是否为空或者数量为0
                        var datanum = Number(row.Num);
                        var dataPrice = Number(row.Price);
                        var dataSum = Number(row.Sum);
                        if (isNaN(datanum)|| isNaN(dataPrice)) {                               
                            dataFlag = false;
                            return false;
                        }
                        if (datanum == 0) {
                            dataFlag = false;
                            return false;
                        }    
                        rowsum = $.MulNum(dataPrice, datanum);
                        //rowsum = (Math.round(dataPrice * 100) * datanum) / 100;
                        if (rowsum != dataSum) {
                            dataFlag = false;
                            return false;
                        }
                        //sums = sums + rowsum;
                        sums = $.SumNum(sums, rowsum);
                        AddData.push(row);
                    }

                });
                if (dataFlag == false) {
                    layer.msg("请输入正确单价或者数量", { icon: 2 });
                    return false;

                }
                $("#Sum").val(sums);
                if (AddData.length > 0) {
                    var Bill = {
                        "BillDate": BillDate,
                        "StroeInfo_id": StroeInfo_id,
                        "StoreName": StoreName,
                        "YSNameID": YSNameID,
                        "YSName": YSName,
                        "Sup_id": Sup_id,
                        "SupName": SupName,
                        "OrderBill_id": OrderBill_id,
                        "OrderBillID": OrderBillID,
                        "BZ": BZ
                    };
                    var flag = false;
                    if (BillType == "add") {
                        $.loading(true, "正在提交数据");
                        $.ajax({
                            url: "/InStore/SaveBill",
                            data: { SHType: SHType, InStoreBills: Bill, InStoreBills_MX: AddData },
                            dataType: "json",
                            type: "post",
                            async: false,
                            success: function (data) {
                                $.loading(false);
                                if (data.errorMsg) {
                                    flag = false;
                                    top.layer.msg(data.errorMsg, { icon: 2 });

                                }
                                else {
                                    var msgs = (data.okMsg);
                                    flag = true;
                                    top.layer.msg(msgs, { icon: 1 });

                                }
                            },
                            error: function () {
                                $.loading(false);


                            },
                            complete: function () {
                                $.loading(false);

                            }
                        });
                        return flag;
                    }
                    else {
                        $.loading(true, "正在提交数据");
                        $.ajax({
                            url: "/InStore/EditBill",
                            data: { ids: keyValueids, SHType: SHType, InStoreBills: Bill, InStoreBills_MX: AddData },
                            dataType: "json",
                            type: "post",
                            async: false,
                            success: function (data) {
                                $.loading(false);
                                if (data.errorMsg) {
                                    flag = false;
                                    top.layer.msg(data.errorMsg, { icon: 2 });

                                }
                                else {
                                    var msgs = (data.okMsg);
                                    flag = true;
                                    top.layer.msg(msgs, { icon: 1 });

                                }
                            },
                            error: function () {
                                $.loading(false);


                            },
                            complete: function () {
                                $.loading(false);

                            }
                        });
                        return flag;

                    }
                }
                else {
                    layer.msg("请输入商品信息", { icon: 2 });
                    return false;
                }

            },

            init: function () {
                $('#ChooseOrder').on('click', $.hands.ChooseOrder);
                $('#Empty').on('click', $.hands.Empty);
                $('#SaveAdd').on('click', $.hands.SaveAdd);
                $('#AddClose').on('click', $.hands.AddClose);
                $('#AddSH').on('click', $.hands.AddSH);
            }
        }
        $(function () {
            $.hands.init();
        });
    });

    //计算和
    function SumMoney() {
        var sums = 0;
        var datas = $("#list1").jqGrid("getRowData");
        $.each(datas, function (i) {
            var row = datas[i];
            if (row.GoodName != "" && row.GoodName != undefined && row.GoodName != null) {
                var rowsum = Number(row.Sum);
               
                if (isNaN(rowsum) ) {
                    rowsum = 0;;
                }              
                //sums = sums + rowsum;
                sums = $.SumNum(sums, rowsum);
            }

        });
        $("#Sum").val(sums);

    }
    //计算单价 数量 金额
    $(document).on('keyup', '#list1>tbody>tr>td>input[type="text"]', function () {
        var _inputName = $(this).attr('name');

        if (_inputName == "Price") {
            var id = $("#list1").jqGrid('getGridParam', 'selrow');//根据点击行获得点击行的id（id为jsonReader: {id: "id" },）
            var rowData = $("#list1").jqGrid("getRowData", id);
            var _price = Number($(this).val());
            if (isNaN(_price)) {
                _price = 0;
            }
            var _num = Number(rowData.Num);
            var _sum = $.MulNum(_price, _num);
            $("#list1").jqGrid('setCell', id, 'Sum', _sum);
            SumMoney();

        } else if (_inputName == "Num") {
            var id = $("#list1").jqGrid('getGridParam', 'selrow');//根据点击行获得点击行的id（id为jsonReader: {id: "id" },）
            var rowData = $("#list1").jqGrid("getRowData", id);
            var _price = Number(rowData.Price);
            var _num = Number($(this).val());
            if (isNaN(_num)) {
                _num = 0;
            }
            var _sum = $.MulNum(_price, _num);
            $("#list1").jqGrid('setCell', id, 'Sum', _sum);
            SumMoney();
        }
    });

</script>
<style>
    .form-control {
        height: 20px;
        text-align: center;
        display: table-cell;
        vertical-align: middle
    }
</style>


